 <!-- Header Section Start -->
 <header id="header">
    <a href="index.html" class="logo"><img src="assets/img/logo.jpg" alt="logo"></a>
    <div class="phone"><i class="fa fa-phone"></i>+ 020 3079 3079</div>
    <div class="mobile-menu-btn"><i class="fa fa-bars"></i></div>
    <nav class="main-menu top-menu">
        <ul>
            <li routerLinkActive="active"><a routerLink="/">Home</a></li>
            <li routerLinkActive="active"><a routerLink="/about">About Us</a></li>
            <li routerLinkActive="active"><a routerLink="/room">Rooms</a></li>
            <li routerLinkActive="active"><a routerLink="/amenities">Amenities</a></li>
            <li routerLinkActive="active"><a routerLink="/gallery">Gallery</a></li>
            <li routerLinkActive="active"><a routerLink="/booking">Booking</a></li>
            <li routerLinkActive="active"><a routerLink="/login">Login</a></li>
            <li routerLinkActive="active"><a routerLink="/contact">Contact Us</a></li>
        </ul>
    </nav>
</header>
<!-- Header Section End -->
