   <!-- About Section Start -->
   <div id="about">
    <div class="container">
        <div class="section-header">
            <h2>About The Fern Residency</h2>
           
        </div>
      
        
        <div class="row">
            <div class="col-md-6 img-cols">
                <div class="img-col">
                    <img class="img-fluid" src="/assets/img/about/about-4.png">
                </div>
            </div>
            <div class="col-md-6 content-cols">
                <div class="content-col">
                    
                    <p>
                        Industrial area of Pune, with all eminent features for executive business travelers,
                         catering to mid and budget segment.
                    </p>
                    <p> The Hotel offers 40 well appointed rooms and Ten Café 
                        :- A multi – cuisine Coffee shop & Restaurant. 
                    </p>
                   
                </div>
            </div>
        </div>
    </div>
</div>